@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@300&display=swap');
body{
    background-color: #C39BD3
}

h2{
    font-family: 'Gloock';
    font-size: 80px; 
}

p{
    font-family: 'Roboto';
    font-size: 25px;
}

ul{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}

main{
    font-family: 'Gloock';
    font-size: 16px;
    font-weight: 300;  
}

nav{
    list-style:none;
}

.nav__links li {
font-family: 'Gloock';
padding:0px 20px;
display: flex;
justify-content: flex-end;
}


.nav__links li a {
    transition: all 0.3s ease 0s;
}

    .nav__links li a:hover{
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        
        
    }

#searchbar{
    display: inline;;
    padding:15px;
    margin:10px;
    border-radius:15px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}


button{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display:flex;
    border-radius: 10px;
    border:none;
    margin: 5px;
}



input{
    display: inline;
    padding: 10px;
    margin:10px;
    border-radius:15px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

#enbtn{
    display: inline;
    padding: 5px;
}

#debtn{
    display:inline;
    padding: 5px;
}

#frbtn{
    display:inline;
    padding: 5px;
}

#fibtn{
    display:inline;
    padding: 5px;
    
}
#fibtn.active{
    background-color: #C39BD3;
}